/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin: 0;*/
    margin-bottom: 100px;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    /*padding: 60px 15px 0;*/
}

.footer {
    background: black;
    color: white;

}

.footer > .container {
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    background: black;
}

.container p {
    float: left;
}

.container nav{
    float: left;
}

.container madeby{
    margin-left: 200px;
    float: left;
}

.container li {
    display: inline;
}

.mainClass{
    padding: 20px 0px;
}

code {
    font-size: 80%;
}

.bookCelda {
    padding: 30px 30px;
    float: left;
    /*border: 1px solid black;*/
    min-height: 341px;
    /*max-width: 138px;*/
}

.bookImage {
    width: 138px;
    height: 209px;
}

.bookInformation{
    max-width: 138px;
}

.bookTitle{
    color: black;
}

.bookAuthor{
    color: grey;
    max-width: 138px;
}

.pricebuble {
    z-index: 100;
    box-shadow: -4px 4px 5px 0px rgba(0,0,0,0.2);
    position: absolute;
    padding: 0px;
    margin-top: -10px;
    margin-left: 80px;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    color: white;
    font-weight: bold;
    background: red;
}
